<div id="sponsors-left">
    <hr>
    <h5>Sponsors</h5>
    <a href="https://www.fastly.com" target="_blank"><img src="/images/fastly_logo_large.png"
         alt="fastly" width="90"/></a>
    <br>
    <a href="https://www.netcup.eu" target="_blank"><img src="/images/netcup_logo_large.png"
         alt="netcup" width="90"/></a>
</div>
